---
apiVersion: v1
kind: Pod
metadata:
  name: multiclusterslicerequest-operator
  namespace: swn
spec:
  containers:
  - name: multiclusterslicerequest-operator
    image: swnrg/multiclusterslicerequest-operator:latest
    imagePullPolicy: Always
    env:
    - name: LOG_TYPE
      value: "text"
      # could also be json
  serviceAccountName: monitor-clusterslice
  imagePullSecrets:
  - name: registry-secret
